<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
	<title><?= $this->fetch('title') ?></title>
    </head>
    <style>
     #requisition {
	 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	 border-collapse: collapse;
	 width: 100%;
     }

     #requisition td, #requisition th {
	 border: 1px solid #ddd;
	 padding: 8px;
     }

     #requisition tr:nth-child(even){background-color: #f2f2f2;}

     #requisition tr:hover {background-color: #ddd;}

     #requisition th {
	 padding-top: 12px;
	 padding-bottom: 12px;
	 text-align: left;
	 background-color: #3c8dbc;
	 font-weight: bold;
	 color: white;
     }
    </style>
    <body>
	<?= $this->fetch('content') ?>
    </body>
</html>
