 p {
     margin: 1em 0;
 }
 .select2-result-repository {
     padding-top:4px;
     padding-bottom:3px
 }
 .select2-result-repository__avatar {
     float:left;
     width:60px;
     margin-right:10px
 }
 .select2-result-repository__avatar img {
     width:100%;
     height:auto;
     border-radius:2px
 }
 .select2-result-repository__meta {
     margin-left:70px
 }
 .select2-result-repository__title {
     color:black;
     font-weight:700;
     word-wrap:break-word;
     line-height:1.1;
     margin-bottom:4px
 }
 .select2-result-repository__forks,.select2-result-repository__stargazers {
     margin-right:1em
 }
 .select2-result-repository__forks,.select2-result-repository__stargazers,.select2-result-repository__watchers {
     display:inline-block;
     /* color:#aaa; */
     font-size:11px
 }
 .select2-result-repository__description {
     font-size:13px;
     color:#777;
     margin-top:4px
 }
