body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* font-weight: 400; */
    overflow-x: hidden;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
}

table, th {
    border: 1px solid #808080;
}

tfoot {
    border-top: 1px solid #d3d3d3;     
}

th, td {
    padding: 10px;
}

section {
    font-size: 0.7em;
}

h5 {
    margin-bottom: 4px;
}

tr {
    windows:3;
}

tr {
    orphans: 3;
}

