<?php
    /*
     * view para retornos select no formato <option value="KEY">VALUE</option>
     */

    foreach ($response['results'] as $key => $value) {
        echo '<option value="' . $key . '">' . $value . '</option>';
    }
//    echo $response;
?>
