<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Vendas em 2020</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>

    </div>
    <div class="box-body">

        <div class="chart">
            <canvas id="barChart" style="height:230px"></canvas>
        </div>

    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script>
 var salesThisYearArr = <?=json_encode($totalSalesThisMonth)?>;
</script>
