<?php
/**
 * @var \App\View\AppView $this
 * @var \Cake\Datasource\EntityInterface $menuItem
 */
?>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
	Menu Item
	<small><?php echo __('Add'); ?></small>
    </h1>
    <ol class="breadcrumb">
        <?=$this->element('MenuHeader')?>
    </ol>
</section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title"><?php echo __('Form'); ?></h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <?php echo $this->Form->create($menuItem, ['role' => 'form']); ?>
            <div class="box-body">
              <?php
                echo $this->Form->control('menu_id');
                echo $this->Form->control('title');
                echo $this->Form->control('controller');
                echo $this->Form->control('action');
                echo $this->Form->control('icon');
                echo $this->Form->control('icon_type');
              ?>
            </div>
            <!-- /.box-body -->

          <?php echo $this->Form->submit(__('Submit')); ?>

          <?php echo $this->Form->end(); ?>
        </div>
        <!-- /.box -->
      </div>
  </div>
  <!-- /.row -->
</section>
