<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Erro 404
    </h1>
    <!-- <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li><a href="#">Examples</a></li>
         <li class="active">404 error</li>
         </ol> -->
</section>

<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
            <br>
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Página não encontrada.</h3>
            <p>
                Não foi possível encontrar a página que você estava procurando.<br>
                Enquanto isso, retorne ao <a href="<?php echo $this->Url->build('pages/home'); ?>">painel de controle</a>.
            </p>

            <!-- <form class="search-form">
                 <div class="input-group">
                 <input type="text" name="search" class="form-control" placeholder="Search">

                 <div class="input-group-btn">
                 <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                 </button>
                 </div>
                 </div> -->
                <!-- /.input-group -->
            <!-- </form> -->
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
    </section>
    <!-- /.content -->
