<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
	<?=__('Import')?>
	<small>
            <?='import'?> <!-- TRADUZIR -->
        </small>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <?php echo $this->Form->create('import', ['role' => 'form']); ?>

	    <?php echo $this->Form->end(); ?>
	</div>
    </div>
</section>

<?php
echo "asdfasdf";
debug($cells);
?>
